@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
}

/* Header Section */

header{
    background-color: #270082;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 0;
}

nav ul{
    display: flex;
    gap: 20px;
}

.logo{
    font-size: 32px;
    font-weight: 600;
}

nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
}

nav ul li:hover{
    border-bottom: 2px solid;
    transition: 0.2s ease-in-out;
}

/* Hero Section */

.hero{
    background-image: url(images/hero_image.png);
    height: 100vh;
    color: white;
    text-align: center;
    place-items: center;
    display: grid;
}

.hero .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero h1{
    font-size: 96px;
}

.hero h3{
    font-size: 32px;
}

/* Music Section */

.my_music{
    padding-top: 50px;
    background-color: #281154;
}

.my_music .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 30px;
}

.i-image{
    position: relative;
    top: 400px;
    margin-top: -400px;
}

.btn{
    padding: 10px;
    color: white;
    background-color: red;
    border-radius: 6px;
    border-style: none;
    transition: 0.2s ease-in-out;
}

.btn:hover{
    transition: 0.2s ease-in-out;
    opacity: 0.7;
}

/* Music About Part */

.about-music{
    padding-top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-bottom: 50px;
}

.btn-two{
    background-color: #270082;
    color: white;
    padding: 10px;
    border-radius: 6px;
    border-style: none;
    transition: 0.2s ease-in-out;
}

.btn-two:hover{
    transition: 0.2s ease-in-out;
    opacity: 0.7;
}

/* Video Section */

.videos{
    background-image: url(images/video.png);
    height: 100vh;
    color: white;
    display: grid;
    text-align: center;
    place-items: center;
}

.videos .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -200px;
}